<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="refresh">
    <title>Netflix OSS RSS Reader</title>

    <!-- TODO: Should host locally -->
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
        body {
            padding-top: 60px;
            padding-bottom: 40px;
        }
    </style>
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="brand" href="#">Netflix OSS RSS Reader</a>

            <div class="nav-collapse collapse">
                <form class="navbar-form pull-right" method="POST" action="/jsp/rss.jsp">
                    <input class="span8" type="text" placeholder="Enter the feed Url" name="url">
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
</div>


<!-- To hide/show the delete button -->
<style type="text/css">
    h4 .icon-remove {
        visibility:hidden;
    }
    h4:hover .icon-remove {
        visibility:visible;
    }
</style>

<div class="container">
    <div class="row">
        <div class="span12">
			{{range .Feeds}}
			<h4>{{.Title}} <a href="?delFeedUrl={{.FeedLink}}"><i class="icon-remove"></i> </a></h4>
				{{range $i, $item := .Items}}
				{{if lt $i 5}}
				<p data-container="body" data-content="{{.Description}}" data-trigger="hover" data-placement="right" data-html="true"><a href="{{.Link}}">{{.Title}}</a></p>
				{{end}}
				{{end}}
			{{end}}
        </div>
    </div>

</div>


<hr>
<footer align="center">
    <p>Netflix Inc. 2013</p>
	<p>Edge version: Edge-go 0.1.0</p>
	<p>Edge hostname: </p>
</footer>
</div> <!-- /container -->

</body>
</html>
